/* 

Hosting Square - CSS File

*/


/*** GLOBAL  ***/
body {
	font-family:Arial, Tahoma, Verdana;
	font-size:12px;
	margin: 0;
	padding: 0;
	color:#666;
	line-height:18px;
	background-color:#e9e9e9;
}

.clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
form{margin:0; padding:0;}
hr {
border-width:0;
height:1px;
line-height:0;
margin:30px 0px;
page-break-after:always;
text-align:center;
width:100%;
clear:both;
color:#d3d8e0;
background-color:#d3d8e0;
background-repeat:repeat-x
}
input[type=text], textarea
{
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	border:solid 1px #d3d8e0;
	margin:4px 4px 8px 0px; 
	padding:5px; 
	color:#acacac; 
	vertical-align:middle; 
	font-size:11px;}

input[type=password]
{
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	border:solid 1px #d3d8e0;
	margin:4px 4px 8px 0px; 
	padding:5px; 
	color:#acacac; 
	vertical-align:middle; 
	font-size:11px;}
/*** END OF GLOBAL  ***/

/*** DEFAULT ELEMENT STYLES ***/
/* heading */
h1, h2{margin-bottom:12px; font-family:Arial, Verdana;}
h3, h4, h5, h6{margin-bottom:8px; font-family:Arial, Verdana;}
h1 {font-size:30px; line-height:32px;}
h2 {font-size:24px; line-height:26px;}
h3 {font-size:20px; line-height:22px;}
h4 {font-size:18px; line-height:20px;}
h5, h6 {font-size:14px; line-height:15px;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; color:#7b7b7b;}
/* links */
a, a:visited {color:#e99719; text-decoration:none; font-weight:normal; }
a:hover{color:#f7aa34; text-decoration:underline;}
a img{border:none}
/
/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	font-size:12px;
	margin-bottom:20px;
}
ul, ol {
	margin:10px 0 20px 20px;
	list-style-position:inside
}
li ol,
li ul
{
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol {list-style:decimal;}
	



/* text styled and button */

/*** END OF DEFAULT ELEMENT STYLES ***/

/*** CONTAINER ***/
#wrapper-top{background-image:url(../images/bg-wrapper.gif); background-repeat:repeat-x; background-color:#fafafa}
#wrapper-bottom{background-color:#D6E0E6;}
#container-top{width:596px;margin: 0 auto;}
#container-bottom{width:590px;margin: 0 auto;}



/* TOP */
#top{ height:100px;}

#navtop{background-image:url(../images/lbg-navtop.png); background-repeat:no-repeat; background-position:top; height:50px; position:relative; z-index:100;margin-left:3px}


#topnav, #topnav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	line-height:1.5em; 
}
#topnav{padding:10px 13px 0px 13px;}
#topnav a{
	display:block;
	padding:0px 0px;
	color:#323945;
	text-decoration:none;
	text-transform:uppercase;
	width:120px;
}

#topnav a.current{color:#3e4653; background-image:url(../images/bg-navlink.png); background-repeat:no-repeat; }

#topnav a:hover{
	background-image:url(../images/bg-navlink.png); background-repeat:no-repeat; 
}

#topnav li a:hover {
	background-image:url(../images/bg-navlink.png); background-repeat:no-repeat; 

}
#topnav li:hover a, 
#topnav li.sfHover a {
	background-image:url(../images/bg-navlink.png); background-repeat:no-repeat; 
}
#topnav li:hover ul a:hover, 
#topnav li.sfHover ul a:hover {
	background-image:url(../images/bg-navlink.png); background-repeat:no-repeat; 
}


#topnav li{
	float:left;
	position:relative;
	padding-left:0px;
	padding-right:0px;
	line-height:38px;
	padding-bottom:4px;
	padding-top:2px;
	font-size:12px;
	text-align:center;
	margin-right:2px;
	
	
}

#topnav li#home{background-image:none;}

#topnav li li{
	padding-right:0px;
	text-transform:capitalize;
	line-height:25px;
	padding:0px 0px;
	background-image:none;
	
}

#topnav ul {
	position:absolute;
	display:none;
	width:250px;
	top:3.3em;
	left:0px;
	background-color:#fff;
	padding-bottom:25px;
	border:solid 1px #2C8EC7;
	border-width:0px 1px 1px 1px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}

#topnav li ul a{
	width:200px;
	height:auto;
	margin:0 13px;
	padding:3px 10px 0px 10px;
	text-transform:capitalize;
	border-bottom:solid 1px #f4f5f5;
	text-align:left;
	color:#a1a1a1
	
}

#topnav li ul a, #topnav li ul a:hover{background-image:none !important; }

#topnav li ul a:hover{}

#topnav ul ul{
	top:0px;
}	

#topnav li ul ul {
	left:12em;
	margin:0px 0 0 0px;
}

#topnav li:hover ul ul, #topnav li:hover ul ul ul, #topnav li:hover ul ul ul ul{
	display:none;
}
#topnav li:hover ul, #topnav li li:hover ul, #topnav li li li:hover ul, #topnav li li li li:hover ul{
	display:block;
}


/* BOX */
.box{
	-moz-border-radius: 5px; /* Firefox */
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	border:solid 1px #d3d8e0;
	padding:15px 15px 10px 15px;
	margin-bottom:10px;
}

.box2{
	margin-bottom:10px;
	padding:0;
	height:190px;
}
.box2 img{height:190px;}

.boxcolor{
	-moz-border-radius: 5px; /* Firefox */
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	padding:15px 15px 23px 15px;
	width:auto;
	margin-bottom:10px;
	background-color:#323945;
}

*+html .boxcolor{padding:15px 15px 17px 15px; margin-bottom:11px;}


/* CONTENT */
#main{background-image:url(../images/bg-main.png); background-repeat:repeat-y; padding:10px 13px 0px 13px;margin :0 2px 0 1px}
#content{margin:0 0 10px 3px}
.widget-title{margin-bottom:8px;}
/* LIST */
ul.list{list-style-type:none; margin:0 0 18px 0; padding:0;}
ul.list li{list-style-type:none; margin:0; padding:6px 0 6px 20px; background-image:url(../images/list.png); background-repeat:no-repeat; background-position:0px 10px; list-style-position:outside}


/* TEXT STYLED */
.title-plan{font-size:24px; color:#acacac}
.styled1{color:#e99719;}
.price{font-size:36px; color:#fff !important; font-weight:bold; display:block}
.rightblock{float:right; color:#fff !important; text-align:center; padding-left:8px;}
.but-order{display:block; padding-top:5px;}

/* FOOTER */
#footer{ background-color:#5ACF46;color:#fff; padding:20px 40px 40px 40px; width:510px;}
#footer ul{list-style-type:none; margin:0; padding:0;}
#footer ul li{list-style-type:none; margin:0; padding:0;}
#footer ul li li{border-bottom:dotted 1px #c2c2c2; padding:4px 16px;background: url(../images/external.gif) no-repeat 0 8px;}
#footer ul li a, #footer ul li a:visited{color:#fff}
#footer ul li a:hover{color:#e99719;text-decoration:none;}
#footer h2{color:#000;}

#pengumuman ul {
	margin-left: 35px;
	padding: 0;
}
#pengumuman ul li {
	padding: 5px 0 5px 16px;
	background: url(../images/external.gif) no-repeat 0 8px;
	font: 12px/120% arial;
	list-style-type: none;
	border-bottom: 1px dotted #ddd;
}

#footer-bottom{padding:5px 0px 10px 0px; width:590px; clear:both}
.logo-bottom{text-transform:uppercase; margin-bottom:5px; font-weight:bold}

/* column list */
.four_column{list-style-type:none; margin:0px; padding:0px;}
.four_column li{list-style-type:none;width:22%; margin-right:4%; float:left;}
.four_column p{margin-bottom:10px;}

.three_column{list-style-type:none; margin:0px; padding:0px;}
.three_column li{list-style-type:none;width:30.66%; margin-right:4%; float:left;}
.three_column p{margin-bottom:10px;}

.two_column{list-style-type:none; margin:0px; padding:0px;}
.two_column li{list-style-type:none;width:48%; margin-right:4%; float:left;}
.two_column p{margin-bottom:10px;}

.three_four_column{list-style-type:none; margin:0px; padding:0px;}
.three_four_column li{list-style-type:none;width:74%; margin-right:4%; float:left;}
.three_four_column p{margin-bottom:10px;}

.two_column h1, .three_column h1, .four_column h1, .three_four_column h1{margin:8px 0px 5px 0px; font-size:24px; color:#3d73a2}
.two_column h2, .three_column h2, .four_column h2, .three_four_column h2{margin:8px 0px 5px 0px; font-size:24px; color:#3d73a2}
.two_column li li, .three_column li li, .four_column li li, .three_four_column li li{margin:0px; width:auto !important; float:none;}



/* column */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.one_fourth{width:46%; }
.three_fourth{width:74%;}
.one_half,.one_third,.one_fourth, .three_fourth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; }

.one_fourth p{margin-bottom:10px;}



#tabs .success {
	padding: 10px 10px 10px 36px;
	background: url(../images/tick.gif) #ffffdd no-repeat;
	background-position: 10px 50%;
	background-color: #ffffdd;
	border:solid 1px #d3d8e0;	
	margin : -5px -18px 15px -18px;
	text-align:left;
	font-size:9px;
}
#tabs .error {
	padding: 10px 10px 10px 36px; /*top right bottom left*/ 
	background: url(../images/exclamation.gif) #ffffdd no-repeat;
	background-position: 10px 50%;
	background-color: #ffffdd;
	border:solid 1px #d3d8e0;
	margin : -5px -18px 15px -18px;
	text-align:left;
	font-size:9px;
}

div.success {
	padding: 10px 10px 10px 36px;
	background: url(../images/tick.gif) #ffffdd no-repeat;
	background-position: 10px 50%;
	background-color: #ffffdd;
	border:solid 1px #d3d8e0;	
	margin : 3px 0 5px 0;
	text-align:left;
	font-size:9px;
}
div.error {
	padding: 10px 10px 10px 36px; /*top right bottom left*/ 
	background: url(../images/exclamation.gif) #ffffdd no-repeat;
	background-position: 10px 50%;
	background-color: #ffffdd;
	border:solid 1px #d3d8e0;
	margin : 3px 0 5px 0;
	text-align:left;
	font-size:9px;
}

#tabs, #tabs .ui-tabs-nav {
	border: none;
	background: none;
}
#tabs .ui-widget-content {
	border-top: 1px solid #DDDDDD;
}

#tabs .border {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: -10px -18px 5px -18px;
}

#tabs .rt {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: -10px -18px 5px -18px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

#tabs .rb {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: -10px -18px 5px -18px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.border {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: 5px 0 5px 0;
}

.rt {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: 5px 0 5px 0;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.rb {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: 5px 0 5px 0;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

