/*

Hosting Square - CSS File

*/


/*** GLOBAL  ***/
body {
	font-family:Arial, Tahoma, Verdana;
	font-size:12px;
	margin:0 auto;
	padding:0;
	color:#666;
	line-height:18px;
	background-color:#e9e9e9;
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
.clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
form{margin:0; padding:0;}
hr {
border-width:0;
height:1px;
line-height:0;
margin:30px 0px;
page-break-after:always;
text-align:center;
width:100%;
clear:both;
color:#d3d8e0;
background-color:#d3d8e0;
background-repeat:repeat-x
}

/*** END OF GLOBAL  ***/

/*** DEFAULT ELEMENT STYLES ***/
/* heading */
h1, h2{margin-bottom:12px; font-family:Arial, Verdana;}
h3, h4, h5, h6{margin-bottom:8px; font-family:Arial, Verdana;}
h1 {font-size:30px; line-height:32px;}
h2 {font-size:24px; line-height:26px;}
h3 {font-size:20px; line-height:22px;}
h4 {font-size:18px; line-height:20px;}
h5, h6 {font-size:14px; line-height:15px;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; color:#7b7b7b;}
/* links */
a, a:visited {color:#e99719; text-decoration:none; font-weight:normal; }
a:hover{color:#f7aa34; text-decoration:underline;}
a img{border:none}
/* float align */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-top: 5px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:3px;
}


img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone {
	margin-bottom: 12px;
}
img.alignleft, img.alignright, img.aligncenter, img.alignnone {}


/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	font-size:12px;
	margin-bottom:20px;
}
ul, ol {
	margin:10px 0 20px 20px;
	list-style-position:inside
}
li ol,
li ul
{
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol {list-style:decimal;}
	
blockquote {
	/*font-style:italic;*/
	margin:0px 0 0px 0px;
	color:#9a9a9a;
	padding:0px 10px 0px 60px;
	background-image:url(../images/quote.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;
	clear:both;
	}
	

blockquote.left, blockquote.right  {
	float:right;
	letter-spacing:0px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 60px;
	width:43%;
	background-position:0px 0px;
	}
	
blockquote.left{
	float:left;
	margin-left:0px;
	margin-right:20px;}

blockquote p{margin-bottom:0px;}

/* code */
code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #e0e0e0;
	padding:15px 10px;
}

/* text styled and button */

/*** END OF DEFAULT ELEMENT STYLES ***/

/*** CONTAINER ***/
#wrapper-top{background-image:url(../images/bg-wrapper.gif); background-repeat:repeat-x; background-color:#fafafa}
#wrapper-bottom{background-color:#D6E0E6; min-height:190px;}
#container-top{margin:0 auto; width:996px;}
#container-bottom{margin:0 auto; width:990px;}

#container-ltop{margin:0 auto; width:596px;}
#container-lbottom{margin:0 auto; width:590px;}

/* TOP */
#top{ height:100px;}W
#logo h1, #logo h1 a, #logo h1 a:visited{font-size:40px; color:#3d73a2; margin-bottom:0px;  padding:20px 0px 0px 40px; text-decoration:none; font-weight:normal; }
#logo h1 a:hover{text-decoration:none;}
#logo .desc{color:#7c7a6b; font-size:14px; padding-left:25px;}
#logo{width:320px; float:left;}

#navtop{background-image:url(../images/bg-navtop.png); background-repeat:no-repeat; background-position:top; height:50px; position:relative; z-index:100}


#topnav, #topnav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	line-height:1.5em; 
}
#topnav{padding:10px 13px 0px 13px;}
#topnav a{
	display:block;
	padding:0px 0px;
	color:#323945;
	text-decoration:none;
	text-transform:uppercase;
	width:120px;
}

#topnav a.current{color:#3e4653; background-image:url(../images/bg-navlink.gif); background-repeat:no-repeat; }

#topnav a:hover{
	background-image:url(../images/bg-navlink.gif); background-repeat:no-repeat; 
}

#topnav li a:hover {
	background-image:url(../images/bg-navlink.gif); background-repeat:no-repeat; 

}
#topnav li:hover a, 
#topnav li.sfHover a {
	background-image:url(../images/bg-navlink.gif); background-repeat:no-repeat; 
}
#topnav li:hover ul a:hover, 
#topnav li.sfHover ul a:hover {
	background-image:url(../images/bg-navlink.gif); background-repeat:no-repeat; 
}


#topnav li{
	float:left;
	position:relative;
	padding-left:0px;
	padding-right:0px;
	line-height:38px;
	padding-bottom:4px;
	padding-top:2px;
	font-size:12px;
	text-align:center;
	margin-right:2px;
	
	
}

#topnav li#home{background-image:none;}

#topnav li li{
	padding-right:0px;
	text-transform:capitalize;
	line-height:25px;
	padding:0px 0px;
	background-image:none;
	
}

#topnav ul {
	position:absolute;
	display:none;
	width:250px;
	top:3.3em;
	left:0px;
	background-color:#fff;
	padding-bottom:25px;
	border:solid 1px #2C8EC7;
	border-width:0px 1px 1px 1px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}

#topnav li ul a{
	width:200px;
	height:auto;
	margin:0 13px;
	padding:3px 10px 0px 10px;
	text-transform:capitalize;
	border-bottom:solid 1px #f4f5f5;
	text-align:left;
	color:#a1a1a1
	
}

#topnav li ul a, #topnav li ul a:hover{background-image:none !important; }

#topnav li ul a:hover{}

#topnav ul ul{
	top:0px;
}	

#topnav li ul ul {
	left:12em;
	margin:0px 0 0 0px;
}

#topnav li:hover ul ul, #topnav li:hover ul ul ul, #topnav li:hover ul ul ul ul{
	display:none;
}
#topnav li:hover ul, #topnav li li:hover ul, #topnav li li li:hover ul, #topnav li li li li:hover ul{
	display:block;
}

/* SLIDESHOW */
#slider-container{height:380px; background-color:#a2a6b0; margin-bottom:10px;background-image:url(../images/slider-bottom.gif); background-repeat:no-repeat; background-position:left bottom; position:relative}

#slider-frame{background-image:url(../images/slider-frame.gif); background-repeat:no-repeat; position:absolute; width:714px; height:6px; top:0; z-index:80 !important}

/* BOX */
.box{
	border:solid 1px #d3d8e0;
	padding:15px 15px 10px 15px;
	margin-bottom:5px;
	
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    cursor:move;
}

.box2{
	margin-bottom:10px;
	padding:0;
	height:190px;
}
.box2 img{height:190px;}

.boxcolor{
	-moz-border-radius: 5px; /* Firefox */
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	padding:15px 15px 23px 15px;
	width:auto;
	margin-bottom:10px;
	background-color:#323945;
}

*+html .boxcolor{padding:15px 15px 17px 15px; margin-bottom:11px;}

#mainright .box{padding:15px 15px 10px 15px;}

#guarantees{float:left; width:320px; margin-right:10px; }
#testimonials{float:left; width:320px;}
.box-cycle{position:relative;}
.navprev, .navnext{position:absolute; cursor:pointer; height:8px; width:13px ; display:block; text-indent:-9999px;}
.navprev{top:-30px; right:20px; background-image:url(../images/prev.gif); background-repeat:no-repeat;}
.navnext{top:-30px; right:0; background-image:url(../images/next.gif); background-repeat:no-repeat;}

/* CONTENT */
#main{background-image:url(../images/bg-main.png); background-repeat:repeat-y; padding:10px 13px 0px 13px;}
#main2{background-image:url(../images/bg-main.png); background-repeat:repeat-y; padding:10px 13px 0px 13px;} /* for contact page */
#mainleft{width:714px; float:left}
#mainright{width:246px; padding-left:10px; float:left}
#main2 #mainleft{width:584px; float:left} /* for contact page */
#main2 #mainright{width:376px; padding-left:10px; float:left} /* for contact page */
.widget-title{margin-bottom:8px;}
.box-cycle blockquote{padding-left:0px;}
.box-cycle blockquote div{padding-left:50px; padding-bottom:18px;}

/* LIST */
ul.list{list-style-type:none; margin:0 0 18px 0; padding:0;}
ul.list li{list-style-type:none; margin:0; padding:6px 0 6px 20px; background-image:url(../images/list.png); background-repeat:no-repeat; background-position:0px 10px; list-style-position:outside}

#mainright ul{list-style-type:none; margin:0 0 0px 0; padding:0; list-style-position:outside}
#mainright ul li li{list-style-type:none; margin:0; padding:6px 0 6px 20px; background-image:url(../images/arrow.gif); background-repeat:no-repeat; background-position:0px 10px; border-bottom:solid 1px #e6e6e6; }
#mainright ul.noborder li li{background-image:url(../images/list.png); background-repeat:no-repeat; background-position:0px 10px; border:0px; }

#mainright ul li a, #mainright ul li a:visited{color:#acacac;}
#mainright .widget-container{clear:both; margin-bottom:15px !important;}
.boxcolor ul.list{padding-top:10px !important; margin:0px !important;}
.boxcolor ul.list li{line-height:16px; padding:0px 0 0px 20px; text-transform:uppercase; font-size:11px; background-position:0px 4px}

ul.social{list-style-type:none; margin:0; padding:0; float:right}
ul.social li{display:inline; padding:0 2px;}

/* TEXT STYLED */
.title-plan{font-size:24px; color:#acacac}
.styled1{color:#e99719;}
.price{font-size:36px; color:#fff !important; font-weight:bold; display:block}
.rightblock{float:right; color:#fff !important; text-align:center; padding-left:8px;}
.but-order{display:block; padding-top:5px;}

/* FOOTER */
#footer{ background-color:#2C8EC7; background-image:url(../images/bg-footer-b.gif); background-repeat:no-repeat; background-position:left bottom; float:left; color:#fff; padding:20px 40px 40px 40px; width:910px;}
#lfooter{ background-color:#2C8EC7; background-image:url(../images/bg-footer-b.gif); background-repeat:no-repeat; background-position:left bottom; float:left; color:#fff; padding:20px 40px 40px 40px; width:513px;}
#lfooter ul,
#footer ul{list-style-type:none; margin:0; padding:0;}
#lfooter ul li,
#footer ul li{list-style-type:none; margin:0; padding:0;}
#lfooter ul li li,
#footer ul li li{border-bottom:dotted 1px #c2c2c2; padding:4px 16px;background: url(../images/external.gif) no-repeat 0 8px;}
#lfooter ul li a,#footer ul li a, #lfooter ul li a:visited,#footer ul li a:visited{color:#fff}
#lfooter ul li a:hover,
#footer ul li a:hover{color:#e99719;text-decoration:none;}
#lfooter h2,
#footer h2{color:#000;}

#pengumuman ul {
	margin-left: 35px;
	padding: 0;
}
#pengumuman ul li {
	padding: 5px 0 5px 16px;
	background: url(../images/external.gif) no-repeat 0 8px;
	font: 12px/120% arial;
	list-style-type: none;
	border-bottom: 1px dotted #ddd;
}

#footer-bottom{padding:20px 0px 10px 0px; width:990px; clear:both}
.logo-bottom{text-transform:uppercase; margin-bottom:5px; font-weight:bold}

/* column list */
.four_column{list-style-type:none; margin:0px; padding:0px;}
.four_column li{list-style-type:none;width:22%; margin-right:4%; float:left;}
.four_column p{margin-bottom:10px;}

.three_column{list-style-type:none; margin:0px; padding:0px;}
.three_column li{list-style-type:none;width:30.66%; margin-right:4%; float:left;}
.three_column p{margin-bottom:10px;}

.two_column{list-style-type:none; margin:0px; padding:0px;}
.two_column li{list-style-type:none;width:48%; margin-right:4%; float:left;}
.two_column p{margin-bottom:10px;}

.three_four_column{list-style-type:none; margin:0px; padding:0px;}
.three_four_column li{list-style-type:none;width:74%; margin-right:4%; float:left;}
.three_four_column p{margin-bottom:10px;}

.two_column h1, .three_column h1, .four_column h1, .three_four_column h1{margin:8px 0px 5px 0px; font-size:24px; color:#3d73a2}
.two_column h2, .three_column h2, .four_column h2, .three_four_column h2{margin:8px 0px 5px 0px; font-size:24px; color:#3d73a2}
.two_column li li, .three_column li li, .four_column li li, .three_four_column li li{margin:0px; width:auto !important; float:none;}



/* column */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.one_fourth{width:22%; }
.lone_fourth{width:46%; }
.three_fourth{width:74%;}
.lone_fourth,.one_half,.one_third,.one_fourth, .three_fourth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; }

.lone_fourth p,.one_fourth p{margin-bottom:10px;}




/*==== Dropcaps ====*/
.letercap{
	display:block;
	float:left;
	font-size:35px;
	line-height:35px;
	margin:0 8px 0 0;}
.bk-right{ float:right; width:30%; margin-left:20px;}
.bk-left{ float:left; width:30%;}

/*==== Highlight ====*/
.highlight1{padding:1px 4px;background-color:yellow;color:#111;}	
.highlight2{padding:1px 4px;background-color:#111;color:#eee;}	

#linkch { 

float: left; 
margin: -800px; 
padding:-800px; 
font-size: 10px
color: #000;

} 

	
/*==== Tables ====
table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #ececec;margin-bottom:18px;}
table,td,th { text-align:center;}
th{padding:10px;color:#666;text-transform:uppercase;}
td{padding:10px;color:#888;}
tfoot td{border:0px;}
th,tr:hover{background-color:#ececec;}
table {
	border: 1px solid #e7e7e7;
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
tr.odd td {
	background: #F2F7FC;
}
*/
/* = Domain Search
-------------------------------------------------------------- */
#domain-search{height:60px; background-color:#ffffff; border : 0px solid; margin-bottom:5px;background-image:url(../images/search-domain.png); background-repeat:no-repeat; background-position:left top; position:relative;color : #ffffff;font-weight: bold;}
#domain-search .www{font-size : 15px;}
#domain-search .whois{float : right; margin : 11px 20px 0 0;}
#domain-search .input {padding : 4px; border : 1px solid #ffffff;}
#domain-search .pilih{padding : 3px; border : 1px solid #ffffff;}
#domain-search .buton{background : #ad1a1a url(../images/bg-buton.png) repeat-x; padding: 3px; border : 1px solid #e34b4b; color : #ffffff;font-weight: bold;}
#domain-search .buton:hover{background : #ad1a1a url(../images/bg-buton-hover.png) repeat-x; border : 1px solid #e34b4b; color : #ffa100;font-weight: bold;}

#hosting table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}

/* Start tables */

#hosting table, table.art-article
{
	border-collapse: collapse;
	margin: 1px;
	padding-top :0px;
	width:640px;
	
}

#hosting table, table.art-article .art-article tr, .art-article th, .art-article td
{
	background-color:Transparent;
}

#hosting table caption {
	padding: 20px 5px 5px 0;
	width: 100%;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;}
	
#hosting td
{
	padding: 9px 0 5px 0;
	vertical-align: top;
	text-align:center;
	border-bottom : 1px solid #ededed;
}

#hosting td.clear
{
	padding: 9px 0 5px 0;
	vertical-align: top;
	text-align:center;
	border-bottom : 0px solid #ededed;
}

#hosting td.desc
{
	padding: 18px 10px 5px 0;
	vertical-align: top;
	text-align:right;
}

#hosting th
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}

#hosting th.plans
{
	text-align: center;
	vertical-align: middle;
	padding: 7px 3px 7px 3px;
	width : 150px;
	height : 73px;
	color : #ffffff;
	font-size : 22px;
	background-image: url('../images/th_plans.png');
	border-right : 1px solid #ffffff;
}

#hosting th.desc
{
	text-align: right;
	vertical-align: bottom;
	padding: 7px;
	font-size : 22px;
	width : 185px;
	height : 73px;
}

#hosting th.desc2
{
	text-align: right;
	vertical-align: bottom;
	padding: 7px;
	font-size : 18px;
	width : 185px;
	height : 40px;
}
#hosting th.featured
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
	width : 150px;
	height : 40px;
	color : #ffffff;
	font-size : 18px;
	background-image: url('../images/featured.png');
	border-right : 1px solid #ffffff;
}

/* Finish tables */

/* begin Button */
.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:31px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.art-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 31px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.firefox2 .art-button-wrapper
{
	display:block;
	float:left;
}

.art-button-wrapper .art-button
{
	display:block;
	height: 31px;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
	white-space: nowrap;
	text-align: left;
	padding: 0 24px !important;
	line-height: 31px;
	text-decoration: none !important;
	color: #FFFFFF !important;
}



.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #FFFFFF !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #FFFFFF !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 93px;
	background-image: url('../images/Button.png');
}

.art-button-wrapper .l
{
	left:0;
	right:18px;
}

.art-button-wrapper .r
{
	width:425px;
	right:0;
	clip: rect(auto, auto, auto, 407px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -31px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -62px;
}


/* end Button */

.htabs {
	padding: 0px 0px 0px 10px;
	height: 30px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
}
.htabs a {
	background: #FFFFFF url('../images/tab.png') repeat-x;
	padding: 6px 15px 7px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 5px;
}

.htabs .l {
	background: #FFFFFF url('../images/tabl.png') left no-repeat;
	padding: 0 5px 0 5px;
	float : left;
}

.htabs .r {
	background: #FFFFFF url('../images/tabr.png') right no-repeat;
	padding: 0;
	float : right;
}

.htabs a.selected {
	padding-bottom: 9px;
	background: #FFFFFF url('../images/tab.png') repeat-x;
}


#sub{
	font-size:6px;
}



#tabs .success,#tabssetting .success {
	padding: 10px 10px 10px 36px;
	background: url(../images/tick.gif) #ffffdd no-repeat;
	background-position: 10px 50%;
	background-color: #ffffdd;
	border:solid 1px #d3d8e0;	
	margin : -5px -18px 15px -18px;
	text-align:left;
	font-size:9px;
}
#tabs .error,#tabssetting .error {
	padding: 10px 10px 10px 36px; /*top right bottom left*/ 
	background: url(../images/exclamation.gif) #ffffdd no-repeat;
	background-position: 10px 50%;
	background-color: #ffffdd;
	border:solid 1px #d3d8e0;
	margin : -5px -18px 15px -18px;
	text-align:left;
	font-size:9px;
}

div.success {
	padding: 10px 10px 10px 36px;
	background: url(../images/tick.gif) #ffffdd no-repeat;
	background-position: 10px 50%;
	background-color: #ffffdd;
	border:solid 1px #d3d8e0;	
	margin : 3px 0 5px 0;
	text-align:left;
	font-size:9px;
}
div.error {
	padding: 10px 10px 10px 36px; /*top right bottom left*/ 
	background: url(../images/exclamation.gif) #ffffdd no-repeat;
	background-position: 10px 50%;
	background-color: #ffffdd;
	border:solid 1px #d3d8e0;
	margin : 3px 0 5px 0;
	text-align:left;
	font-size:9px;
}

/* begin Button */
.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:31px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.art-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 31px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}



.art-button-wrapper .art-button
{
	display:block;
	height: 31px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	white-space: nowrap;
	text-align: left;
	padding: 0 24px !important;
	line-height: 31px;
	text-decoration: none !important;
	color: #FFFFFF !important;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #FFFFFF !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #FFFFFF !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 93px;
	background-image: url('../images/Button.png');
}

.art-button-wrapper .l
{
	left:0;
	right:18px;
}

.art-button-wrapper .r
{
	width:425px;
	right:0;
	clip: rect(auto, auto, auto, 407px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -31px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -62px;
}
.ui-dialog .ui-widget .ui-widget-content{
 width: 500px;
}



.ui-dialog .ui-dialog-titlebar
{
    border:none;
    margin:-2px -5px 0 -5px;

}

.ui-dialog .ui-corner-all{
    border:none;
}

.ui-widget-content
{
    border:none;
}

#tabs,#tabssetting, #tabs .ui-tabs-nav,#tabssetting .ui-tabs-nav,#tabscalon, #tabscalon .ui-tabs-nav {
	border: none;
	background: none;
	cursor:move;
}
#tabs .ui-widget-content,#tabssetting .ui-widget-content,#tabscalon .ui-widget-content {
	border-top: 1px solid #DDDDDD;
}

#tabs .border,#tabssetting .border {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: -10px -18px 5px -18px;
}

#tabs .message,#tabssetting .message {
	border: 1px solid #c1ccd5;
	padding: 10px 10px 10px 75px;	
	margin: 5px -18px 5px -18px;
	background: #fff url(../images/questionmark.gif) no-repeat center left;
	color: #454545;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

#tabs .rt,#tabssetting .rt {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: -10px -18px 5px -18px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

#tabs .rb,#tabssetting .rb {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: -10px -18px 5px -18px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.border {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: 5px 0 5px 0;
}

.rt {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: 5px 0 5px 0;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

.rb {
	background-color: #ffffff;
	border: 1px solid #c1ccd5;
	padding: 5px;
	margin: 5px 0 5px 0;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.message {
	border: 1px solid #c1ccd5;
	padding: 10px 10px 10px 75px;	
	margin: 5px 0 5px 0;
	background: #fff url(../images/questionmark.gif) no-repeat center left;
	color: #454545; 
}
/* tabel */
.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
}
.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.list thead td {
	background-color: #E7EFEF;
	padding: 15px 5px;
}
.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
.list tbody a {
	text-decoration: underline;
}
.list tbody td {
	vertical-align: middle;
	padding: 0px 5px;
}
.list tbody tr:odd {
	background: #FFFFFF;
}
.list tbody tr:even {
	background: #E4EEF7;
}
.list .left {
	text-align: left;
	padding: 7px;
}
.list .right {
	text-align: right;
	padding: 7px;
}
.list .center {
	text-align: center;
	padding: 7px;
}
.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.list .filter td {
	padding: 5px;
	background: #E7EFEF;
}

/* Paging */
.paging {
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	text-align:center;
}

.paging a {
	border: 1px solid #CCCCCC;
	padding: 4px 7px;
	text-decoration: none;
	background: #F8F8F8;
	margin : 0 1px;
}

.paging span {
	border: 1px solid #CCCCCC;
	padding: 4px 7px;
	text-decoration: none;
	background: #fffff;
	margin : 0 1px;
	font-weight:bold;
}

.paging a:hover {
	background: #E7EFEF;
}

a.s-left,
a.s-right,
a.edit,
a.view,
a.delete{
	background-repeat:none;
	background-position:center 0px;
	width:17px;
	height:17px;
	text-indent:-9999px;
	display: inline-block;
}

/* css icon.png */
a.add,
a.hapus,
a.perbaiki,
a.list {
	background-repeat:none;
	width:16px;
	height:16px;
	text-indent:-9999px;
	display: inline-block;
}
a.add {background-position:-16px 0;} /*left top*/
a.hapus {background-position:-48px 0;}
a.perbaiki{background-position:-32px 0;}
a.list{background-position:0 0;}

a.add,
a.hapus,
a.perbaiki,
a.list { background-image: url('../images/icon.png'); }
a.add:hover { background-position:-16px -16px; }
a.hapus:hover { background-position:-48px -16px; }
a.perbaiki:hover { background-position:-32px -16px; }
a.list:hover { background-position:0 -16px; }
/* end css icon.png */

span.s-left,
span.s-right,
span.apps,
span.blocks,

.enable,
.disable{
	background-repeat:none;
	background-position:center 0px;
	width:16px;
	height:16px;
	text-indent:-9999px;
	display: inline-block;
}

a.edit:hover,
a.view:hover,
a.delete:hover { background-position:center -17px; }

a.s-left	{ background-image: url('../images/sidebar-left.png'); }
a.s-right	{ background-image: url('../images/sidebar-right.png'); }
a.edit 		{ background-image: url('../images/icon_tool_edit.png'); }
a.view 		{ background-image: url('../images/icon_tool_view.png'); }
a.delete	{ background-image: url('../images/icon_tool_delete.png'); }

span.s-left	{ background-image: url('../images/sidebar-left.png'); }
span.s-right{ background-image: url('../images/sidebar-right.png'); }
span.apps	{ background-image: url('../images/apps.png'); }
span.blocks { background-image: url('../images/blocks.png'); }

.disable	{ background-image: url('../images/disable.png'); }
.enable	{ background-image: url('../images/enable.png'); }
.sortHelper{
	border:1px dotted #ccc;
	background-color:#FFC;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    height:100%;
}

/*---------------------------------------
	LEAN MODAL
-----------------------------------------*/
#lean_overlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
/*---------------------------------------
	EXAMPLES
-----------------------------------------*/
#signup,#calon {
    width: 600px;
    padding-bottom: 15px;
    display:none;
    top:100px;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#signup-header,#calon-header { background: url(../images/hd-bg.png); padding: 5px 5px 5px 10px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
#signup-header  h2,#calon-header  h2 { color: #444; font-size: 1.5em; font-weight: 500; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#signup .body,#calon .body { margin:10px; }
.modal_close { position: absolute; top: 15px; right: 12px; display: block; width: 14px; height: 14px; background: url(../images/modal_close.png); z-index: 2; }