ul.menu {
	list-style	: none; 
	margin		: 0; 
	padding		: 0;
}
ul.menu * {
	margin	: 0; 
	padding	: 0;
}
ul.menu a {
	display			:block; 
	text-decoration	:none;
}
ul.menu li {
	position	: relative; 
	float		: left; 
	margin-right: 0px;
}
ul.menu ul {
	position	: absolute; 
	top			: 30px; 
	left		: 0; 
	background	: #715594; 
	display		: none; 
	list-style	: none;
}

ul.menu ul li {
	position		: relative;
	text-align		: left;
	border-top		: 0px solid #715594; 
	border-right	: 1px solid #715594; 
	border-bottom	: 0px solid #715594; 
	border-left		: 1px solid #715594; 
	width			: 170px; 
	margin-top		: 1px;
	background-color: #715594;
}

ul.menu ul li a {
	display			: block; 
	padding			: 3px 7px 5px; 
	background-color: #715594;
	color			: #000000;
}

ul.menu ul li a:hover {
	background-color: #7b59a5;
	color			: #000000;
}
ul.menu ul ul {
	left	: 170px; 
	top		: -1px;
}

ul.menu .menulink {
	padding			: 6px 15px 5px 15px; 
	font-weight		: bold;
	color			: #ffffff;
	background		: #6b459a;
	border-right	: 0px solid #715594;
		
}

ul.menu .menulink:hover {
	color			: #E2EB00;
	background		: #7b59a5;
	border-right	: 0px solid #0A5100;

	
}

ul.menu .menuhover {
	background	: #7b59a5;

}

ul.menu .sub {
	background	: #715594;
}
ul.menu .topline {
	border-top	: 1px solid #715594;
	background	: #715594 url(../dropdown/arrow.gif) 136px 8px no-repeat;
}